body {
  height: auto;
  width: 100%;
  margin: auto;
  padding: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.produk {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.produk1 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.produk2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.produk a:hover {
  transform: scale(110%);
}
.produk1 a:hover {
  transform: scale(110%);
}
.produk2 a:hover {
  transform: scale(110%);
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a:hover {
  color: #0088a9;
}
.forms {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 5%;
}
label {
  color: black;
  font-weight: bold;
  width: 130px;
}
.Save {
  padding: 10px;
  border: 1px solid black;
  background-color: aliceblue;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
}
.Save:hover {
  border: 1px solid #0088a9;
  color: #0088a9;
  cursor: pointer;
}
.button1:hover {
  transform: scale(110%);
}
.Pilihan {
  margin: auto;
  padding-top: 3%;
  padding-bottom: 20px;
  font-weight: bold;
  color: black;
}
.Nama {
  width: 100%;
  height: 20px;
  margin-top: 2%;
}
.Email {
  width: 100%;
  height: 20px;
  margin-top: 2%;
}
.Formemail {
  padding-top: 5%;
}
textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 5%;
}
#data-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
#data-table td,
#data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#data-table tr:hover {
  background-color: #ddd;
}
#data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2089dc;
  color: white;
}
.Social a:hover {
  transform: scale(110%);
}
.deleteItems:hover {
  transform: scale(110%);
}
