body{
    height: auto;
    width: 100%;
    margin: auto;
    padding: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}
.nav-links{
    display: flex;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}